
  <form class="loginForm" [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
    <mat-card class="mat-card">
      <mat-form-field class="field">
        <input matInput type="text" placeholder="user" formControlName="username">
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput type="password" placeholder="user" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card>
  </form>


