

 <section class="home">
    <label class="mat-display-2">Hi {{user.name}}!</label>
    <button mat-raised-button class="card-button" (click)="navigationService.goToUsers()"><span class="mat-display-1">Users</span></button>
    <button mat-raised-button class="card-button" (click)="navigationService.goToCatalogs()"><span class="mat-display-1">Catalogs</span></button>
    <button mat-raised-button class="card-button" (click)="navigationService.goToFlyers()"><span class="mat-display-1">Flyers</span></button>
 </section>

